.tested-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 1rem;
  background: white;
}

.tested-box {
  position: relative;
  width: 1350px;
  height: 780px;
  border-radius: 24px;
  overflow: hidden;
}

.tested-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.tested-note {
  position: absolute;
  bottom: 75px;
  right: 50px;
  width: 469px;
  height: 263px;
  background: white;
  border-radius: 16px;
  padding: 24px 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.tested-arrow {
  position: absolute;
  bottom: 263px;
  right: 143px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  z-index: 0;
}

.tested-note h3 {
  color: #0f7f25;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 27px;

  line-height: 1.4;
}

.tested-note p {
  font-size: 18px;
  color: #000000;
  line-height: 1.4;
}

.tested-point {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  font-weight: bold;
  color: #0f7f25;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.tested-point:hover {
  transform: scale(1.15);
}

.point-01 {
  bottom: 375px;
  right: 173px;
  z-index: 20;
}
.point-02 {
  top: 70px;
  right: 630px;
}
.point-03 {
  top: 80px;
  left: 100px;
}
.point-04 {
  top: 230px;
  left: 320px;
}
.point-05 {
  bottom: 275px;
  left: 120px;
}
.point-06 {
  bottom: 160px;
  left: 430px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}
